/* PigPlan layout Base */

@charset "utf-8";
@import url('content.css');
/* @import url('bootstrap.css'); index.tsx에 선언되어 있습니다. */
@import url('form.css');
@import url('material.css');
@import url('calendar.css');

/* web fonts */

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), 
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}

/* icon fonts */
@font-face {
  font-family: 'Material Design Icons';
  src: url('../fonts/materialdesignicons-webfont.eot?v=1.8.36');
  src: url('../fonts/materialdesignicons-webfont.eot?#iefix&v=1.8.36')
      format('embedded-opentype'),
    url('../fonts/materialdesignicons-webfont.woff2?v=1.8.36') format('woff2'),
    url('../fonts/materialdesignicons-webfont.woff?v=1.8.36') format('woff'),
    url('../fonts/materialdesignicons-webfont.ttf?v=1.8.36') format('truetype'),
    url('../fonts/materialdesignicons-webfont.svg?v=1.8.36#materialdesigniconsregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
select,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Noto Sans KR', Helvetica, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #f2f5f9;
  font-size: 15px;
  line-height: 25px;
  vertical-align: middle;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  word-break: keep-all;
  -webkit-overflow-scrolling: touch;
}

/* a Link style */
a {
  text-decoration: none;
  color: #555;
}
a:active,
a:link,
a:visited {
  color: #555;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #1c91e2;
  outline: 0;
  text-decoration: none;
}

/* etc */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
address,
h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 500;
}
img {
  vertical-align: middle;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
:active,
:focus,
:visited,
a,
a:active,
a:focus,
a:visited {
  outline: 0;
}
em {
  font-style: normal;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------
레이아웃
----------------------*/

/* header */
.headtop {
  padding: 15px 10px 0 10px;
  width: 100%;
  overflow: auto;
  background-image: url('../images/topbg.png');
  background-position: top 47% center;
  height: 250px;
}
.navbar {
  position: relative;
  text-align: center !important;
  padding: 0 !important;
  display: block;
}
.navbar .btnmenu {
  position: absolute;
  right: 10px;
  top: 5px;
}
.navbar .btnmenu img {
  width: 28px;
}
.navbar .btnmenu i {
  font-size: 24px;
}
.navbar h1 {
  text-align: center !important;
  line-height: inherit;
}
.navbar h1 img {
  width: 180px;
}

/* popup header */
.popup-headtop {
  padding: 10px;
  width: 100%;
  overflow: auto;
  height: 50px;
  background: #2570c4;
}
.popup-navbar {
  position: relative;
  text-align: center !important;
  padding: 0 !important;
  display: block;
}
.popup-navbar .btnmenu {
  position: absolute;
  left: 0;
  top: 5px;
  color: #fff;
}
.popup-navbar .btnmenu a i {
  font-size: 30px;
  color: #fff;
  line-height: 20px;
}
.popup-navbar h1 {
  text-align: center !important;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
}

.nav-tabs {
  border-bottom: 0 !important;
}
.menuarea {
  position: relative;
}

.tab {
  margin-top: 30px;
  font-size: 0;
  overflow: hidden;
}
.tab li {
  display: inline-block;
  width: calc(25% - 6px);
  color: #fff;
  background-color: #fff;
  border-radius: 16px;
  margin: 0 3px;
  text-align: center;
  background-size: 50px;
  background-position: top 15px center;
  background-repeat: no-repeat;
}
.tab li a {
  color: #000;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 500;
  width: 100%;
  display: block;
  padding: 70px 0 15px 0;
  background-size: 50px;
  background-position: top 15px center;
  background-repeat: no-repeat;
}
.tabcontent {
  display: none;
}
.tab li.current {
  border-radius: 16px;
  /*box-shadow: 0 0px 10px rgba(37, 112, 196, 0.2),
    0px 5px 5px rgba(215, 221, 228, 0.1); */
  background-image: url('../images/m1_on.png');
}
.tabcontent.current {
  display: block;
}

.tab li.m1 {
  background-image: url('../images/m1.png');
}
.tab li.m2 {
  background-image: url('../images/m2.png');
}
.tab li.m3 {
  background-image: url('../images/m3.png');
}
.tab li.m4 {
  background-image: url('../images/m4.png');
}
.tab li.m1.current {
  background-image: url('../images/m1_on.png');
}
.tab li.m2.current {
  background-image: url('../images/m2_on.png');
}
.tab li.m3.current {
  background-image: url('../images/m3_on.png');
}
.tab li.m4.current {
  background-image: url('../images/m4_on.png');
}

.nav_h_type {
  margin: 7px 0 0 0;
  position: relative;
  overflow: hidden;
  widows: 100%;
}
.nav_h_type ul {
  float: left;
  display: block;
  font-size: 0;
  white-space: nowrap;
  position: relative;
}
.nav_h_type li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  line-height: 55px;
  text-align: center;
  font-size: 12px;
}
.nav_h_type li a {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  display: block;
}
.nav_h_type li.on {
  position: relative;
}
.nav_h_type li.on:after {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #2570c4;
  height: 5px;
  border-radius: 3px;
  width: 100%;
  content: '';
}
.nav_h_type li.large {
  width: 140px !important;
}
.nav_h_type li.last {
  width: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #3b4c58;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
}
.footer .footer-menu li {
  display: inline-block;
  width: 23%;
}
.footer .footer-menu li a {
  display: block;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
.footer .footer-menu li i {
  display: block;
  font-size: 20px;
}

/* content */
.pig-container {
  min-height: calc(100vh - 320px);
  height: auto;
  width: 100%;
  padding: 30px 20px 120px 20px;
  overflow: auto;
}
.pig-searcg {
  vertical-align: middle;
}
h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0 20px 0;
  color: #333;
  display: inline-block;
}
h2:before {
  content: '\F16C';
  font: normal normal normal 24px/1 'Material Design Icons';
  font-size: 17px;
  padding-right: 5px;
}

